<!doctype html>
<html>
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="chrome=1">
			<title>{% block title %}{% endblock title %} - {{ SITENAME }}</title>
			<link rel="stylesheet" href="{{ SITEURL }}/theme/stylesheets/styles.css">
			<link rel="stylesheet" href="{{ SITEURL }}/theme/stylesheets/pygment_trac.css">
			<link rel="stylesheet" href="{{ SITEURL }}/theme/stylesheets/font-awesome.min.css">
			<script src="{{ SITEURL }}/theme/javascripts/scale.fix.js"></script>
			<link rel="alternate" type="application/rss+xml" title="MikeGrouchy.com RSS Feed" href="http://feeds.feedburner.com/mikegrouchycom">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
			<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		{% endblock head %}
		{% block analytics %}
			{% if GOOGLE_ANALYTICS %}
				{% include "_ga.html" %}
			{% endif %}
			{% if GUAGES %}
				{% include "_guages.html" %}
			{% endif %}
		{% endblock analytics %}
	</head>
	<body>
		<div class="wrapper">
			<header>
			<h1 class="header"><a href="{{ SITEURL }}" class="home-link">{{ SITENAME }}</a></h1>
			  <p class="header">{{ BIO }}</p>
				<ul>
					<li><a class="buttons" href="{{ SITEURL }}/projects.html"><i class="icon-beaker"></i> Projects</a></li>
					{% if TWITTER_INTEGRATION_ENABLED %}
					<li class="buttons"><a class="twitter" href="http://twitter.com/{{ TWITTER_USERNAME }}"><i class="icon-twitter"></i> @{{ TWITTER_USERNAME }}</a></li>
					{% endif %}
					{% if GITHUB_INTEGRATION_ENABLED %}
						<li class="buttons"><a class="" href="http://github.com/{{ GITHUB_USERNAME }}"><i class="icon-github"></i> Code</a></li>
					{% endif %}
					{% if EMAIL %}
						<li class="buttons"><a class="" href="mailto:{{ EMAIL }}"><i class="icon-envelope"></i> Email</a></li>
					{% endif %}
				</ul>
				<p class="header"></p>
			</header>
			<section>
				{% block content %}
				{% endblock content %}
				</section>
				<footer>
					<span class="copyright" style="font-size:10px;">© {{ SITENAME }} - {{ COPYRIGHT_YEARS }}</span><br/></p>
					</footer>
						</div>
						<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
					</body>
</html>
